* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 1px black;
}

body{
  overflow-x: hidden
}

:root {
  --small-page-padding: 20px;
  --medium-page-padding: 50px;
  --large-page-padding: 100px;
  --title-font-family: "Lora", serif;
  --details-font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

.button {
  padding: 20px 35px;
  text-decoration: none;
  border-radius: 40px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.75rem;
  font-family: var(--title-font-family);
}

h2 {
  font-size: 2rem;
  font-family: var(--title-font-family);
}

h3 {
  font-size: 1.75rem;
  font-family: var(--title-font-family) 1345;
}

p,
.button,
.nav-menu-item {
  font-size: 1rem;
  font-family: var(--details-font-family);
}

.small-block-words {
  font-size: 0.9rem;
}

/* ---------------- */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 60px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  padding: 0 var(--small-page-padding);
  position: relative;
}

.nav-brand {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  /* display: flex; */
  width: 60%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.nav-menu-item {
  text-decoration: none;
  list-style: none;
}

.nav-icon {
  display: flex;1345
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-words-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

#title-yoga {
  margin-left: 10px;
  padding: 6px;
  border-radius: 8px;

  /* inline-block can make 'transform' work */
  display: inline-block;
  transform: rotate(10deg);
}

.header-button {
  margin-bottom: 20px;
}

.header-details {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-small-block {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.header-img {
  width: 300px;
  z-index: -1;
}

/* ---------------- */

.section-influencers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 var(--small-page-padding);
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.influencers-img-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.influencers-img {
  width: 200px;
}

.influencers-details {
  text-align: center;
  width: 300px;
}

.influencers-button {
  position: relative;
  padding: 60px;
  background-image: url(../assets/list-ellipse-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------- */

.section-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--small-page-padding);
  gap: 40px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.start-words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.start-title {
  text-align: center;
}

.start-details {
  text-align: center;
}

.start-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-img {
  width: 300px;
}

.start-img-container {
  position: relative;
}

.start-small-block {
  position: absolute;
  padding: 5px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.start-small-block-1 {
  left: 3%;
  top: 16%;
}

.start-small-block-1 div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.start-small-block-2 {
  right: 5%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-block-img {
  width: 40px;
  height: 40px;
}

/* ---------------- */

.section-workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 var(--small-page-padding);
  flex-wrap: wrap;
}

.workout-words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.workout-title {
  text-align: center;
}

.workout-details {
  text-align: center;
}

.workout-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.workout-img {
  /* position: absolute; */
  width: 250px;
}

.workout-img-1 {
  z-index: 1;
  transform: translateX(-10%);
}

.workout-img-2 {
  transform: translateX(10%) translateY(-30%);
}

.workout-small-block {
  position: absolute;
  z-index: 2;
  padding: 12px 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.workout-small-block-1 {
  right: -15%;
  top: 5%;
}

.workout-small-block-2 {
  left: -10%;
  bottom: 10%;
}

/* ---------------- */

@media screen and (min-width: 678px) {
  h1 {
    font-size: 6rem;
    font-family: var(--title-font-family);
  }

  h2 {
    font-size: 4rem;
    font-family: var(--title-font-family);
  }

  h3 {
    font-size: 2rem;
    font-family: var(--title-font-family);
  }

  p,
  .button,
  .nav-menu-item {
    font-size: 1rem;
    font-family: var(--details-font-family);
  }

  .small-block-words {
    font-size: 0.9rem;
  }

  /* ---------------- */
  header {
    padding: var(--small-page-padding) var(--medium-page-padding);
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu-button {
    display: none;
  }

  .header-words-container {
    align-items: flex-start;
    /* padding-left: 10%; */
    width: 100%;
  }

  .header-details {
    width: 30%;
    text-align: left;
  }

  .header-img {
    position: absolute;
    right: -5%;
    top: 15%;
    width: 500px;
  }

  /* ---------------- */

  .section-influencers {
    flex-direction: row;
    gap: 60px;
    padding: 0 var(--medium-page-padding);
  }

  .influencers-img {
    width: 300px;
  }

  .influencers-details {
    text-align: left;
  }

  /* ---------------- */

  .section-start {
    flex-direction: row-reverse;
    padding: var(--small-page-padding) var(--medium-page-padding);
    justify-content: center;
  }

  .start-words-container {
    align-items: flex-start;
    width: 350px;
  }

  .start-title,
  .start-details {
    text-align: left;
  }

  .start-img {
    width: 500px;
  }

  /* ---------------- */

  .section-workout {
    flex-direction: row;
    padding: var(--small-page-padding) var(--medium-page-padding);
    gap: 60px;
    justify-content: center;
  }

  .workout-words-container {
    align-items: flex-start;
    width: 590px;
  }

  .workout-title,
  .workout-details {
    text-align: left;
  }

  .workout-img {
    /* position: absolute; */
    width: 250px;
  }
}

/* 大螢幕的時候改成比例的寫法~ */

@media screen and (min-width: 1024px) {
  header {
    padding: var(--small-page-padding) var(--large-page-padding);
  }

   /* ---------------- */

  .section-influencers {
    flex-direction: row;
    gap: 60px;
    padding: 0 var(--large-page-padding);
  }

  .influencers-img-container {
    width: 70%;
  }

  .influencers-img {
    width: auto;
  }
  
   /* ---------------- */
   
   .section-start {
    padding: var(--small-page-padding) var(--large-page-padding);
  }

  .start-img {
    width: auto;
  }

   /* ---------------- */

   .section-workout {
    padding: var(--small-page-padding) var(--large-page-padding);
    gap: 80px;
  }

  .workout-words-container {
    width: auto;
  }

  .workout-img {
    width: auto;
  }
}